/*VARIABLES*/
/*GLOBALES*/
/* Normalize */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Roboto:wght@100;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* Globals */
html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

/*VIEWS*/
/* Home */
/* Header */
body {
  background-color: white; }

.main {
  height: 800px; }
  .main .navbar {
    display: flex;
    position: absolute;
    top: 15%;
    left: 5%;
    gap: 20px; }
    .main .navbar .menu .menu-item .fruta {
      padding: 5px;
      width: 100px;
      transition: 0.3s ease-in-out; }
      .main .navbar .menu .menu-item .fruta:hover {
        transform: scale(1.2); }
  .main .interactivo {
    display: flex;
    padding: 30px;
    margin-right: 60px;
    justify-content: flex-end;
    gap: 120px; }
    .main .interactivo .redes img {
      width: 30px;
      margin: 0 20px; }
    .main .interactivo .compras img {
      width: 40px; }
  .main div button {
    position: absolute;
    left: 47%;
    top: 70%;
    padding: 10px;
    cursor: pointer; }
    .main div button a {
      color: black;
      font-weight: 700; }

.container {
  margin: 0 auto;
  height: 800px; }
  .container .card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    margin-bottom: 90px; }

.mi-boton {
  position: absolute;
  top: 275%;
  left: 45%; }
  .mi-boton button {
    padding: 10px; }

/* PARTIALS */
.logo {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); }

.logo2 {
  position: absolute;
  top: 4%;
  left: 4%; }
  .logo2 img {
    width: 100px; }
