/*VARIABLES*/
/*GLOBALES*/
/* Normalize */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Roboto:wght@100;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* Globals */
html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

/*VIEWS*/
/* Home */
header {
  height: 200px; }
  header .logo {
    display: flex;
    justify-content: center; }
    header .logo img {
      width: 150px; }
  header .div-tienda {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px; }
  header .btn-shop {
    font-size: 3em; }

.section-banner .img-fluid {
  margin-top: 30px; }

.main {
  height: 350px; }
  .main .recomendados {
    padding-top: 90px;
    display: flex;
    justify-content: center; }
    .main .recomendados .recomendado-btn {
      font-size: 3em;
      padding: 20px;
      border-radius: 90px; }
  .main .offcanvas-title {
    font-size: 3em; }
  .main .table {
    font-size: 1.6em; }
  .main .precio-total {
    font-size: 1.6em; }
  .main .boton-finalizar button {
    padding: 10px; }
  .main .btn-close {
    top: 3.5%;
    left: 85%;
    opacity: 6; }
  .main .cerrar {
    top: 30%;
    left: 85%; }
  .main .btn-outline-success {
    padding: 15px;
    font-size: 1.6em; }
  .main .close-item {
    font-size: 10px;
    padding: 10px;
    margin-top: 25px; }

.contenedor .producto-bebida {
  position: relative;
  border: solid black 2px; }
  .contenedor .producto-bebida .producto-img {
    width: 300px; }
  .contenedor .producto-bebida .nombre {
    padding: 20px 0;
    display: flex;
    background-color: #ff5500;
    justify-content: center; }
  .contenedor .producto-bebida .contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .contenedor .producto-bebida .contenido .contenido-texto {
      padding: 15px 0;
      width: 200px;
      font-size: 1.5em; }
    .contenedor .producto-bebida .contenido .contenido-boton {
      margin-bottom: 20px;
      padding: 10px;
      border: solid black 2px; }
      .contenedor .producto-bebida .contenido .contenido-boton:hover {
        background-color: black;
        color: white;
        transition: ease-in-out 0.3s; }

.tabla-body .boton-eliminar-producto {
  top: 89%;
  left: 50%;
  padding: 5px 10px;
  font-size: 1em; }

.footer {
  height: 200px;
  margin-top: 160px;
  background-color: #ff5500; }
  .footer .copy {
    color: white;
    font-weight: 700;
    font-size: 2em;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px; }

/* PARTIALS */
