.body-almendras {
    background-color: rgb(184, 98, 0);
    overflow: hidden;
}

.navbar {

    .menu2 {
        display: flex;
        padding-left: 50px;
        gap: 20px;
        position: absolute;
        top: 85%;

        &::after {
            content: '';
            width: 90px;
            height: 2px;
            background-color: rgb(255, 255, 255);
            margin-top: 30px;
        }

        &::before {
            content: '';
            width: 90px;
            height: 2px;
            background-color: rgb(255, 255, 255);
            margin-top: 30px;
        }

        .menu-item {
            .fruta {
                width: 70px;
                transition: 0.3s ease-in-out;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}

.interactivo {
    display: flex;
    padding: 30px;
    margin-right: 60px;
    justify-content: flex-end;
    gap: 120px;
    
    .redes {
        img {
            width: 30px;
            margin: 0 20px;
        }
    }

    .compras {
        img {
            width: 40px;
        }
    }
}
