/* Home */
/* Header */
body {
    background-color: white;
}

.main {

    height: 800px;

    .navbar {
        display: flex;
        position: absolute;
        top: 15%;
        left: 5%;
        gap: 20px;

        .menu {

            .menu-item {
                .fruta {
                    padding: 5px;
                    width: 100px;
                    transition: 0.3s ease-in-out;

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }

    .interactivo {
        display: flex;
        padding: 30px;
        margin-right: 60px;
        justify-content: flex-end;
        gap: 120px;

        .redes {
            img {
                width: 30px;
                margin: 0 20px;
            }
        }

        .compras {
            img {
                width: 40px;
            }
        }
    }

    div {
        button {
            position: absolute;
            left: 43%;
            top: 70%;
            padding: 10px;
            cursor: pointer;

            a {
                color: black;
                font-weight: 700;
            }
        }
    }

    .recomendado {
        button {
            position: absolute;
            left: 50%;
            top: 70%;
            padding: 10px;
            cursor: pointer;
            color: black;
            font-weight: 700;
        }
    }
}

