/* Home */

header {
    height: 200px;

    .logo {
        display: flex;
        justify-content: center;

        img {
            width: 150px;
        }
    }

    .div-tienda {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 20px;
    }

    .btn-shop {

        font-size: 3em;

    }
}

.section-banner {
    .img-fluid {
        margin-top: 30px;
    }
}

.main {
    height: 350px;

    .recomendados {
        padding-top: 90px;
        display: flex;
        justify-content: center;

        .recomendado-btn {
            font-size: 3em;
            padding: 20px;
            border-radius: 90px;
        }
    }

    .offcanvas-title {
        font-size: 3em;
    }

    .table {
        font-size: 1.6em;
    }

    .precio-total {
        font-size: 1.6em;
    }

    .boton-finalizar {
        button {
            padding: 10px;
        }
    }

    .btn-close {
        top: 3.5%;
        left: 85%;
        opacity: 6;
    }

    .cerrar {
        top: 30%;
        left: 85%;
    }

    .btn-outline-success {
        padding: 15px;
        font-size: 1.6em;
    }

    .close-item {
        font-size: 10px;
        padding: 10px;
        margin-top: 25px;
    }
}

.contenedor {
    .producto-bebida {
        position: relative;
        border: solid black 2px;

        .producto-img {
            width: 300px;
        }

        .nombre {
            padding: 20px 0;
            display: flex;
            background-color: rgb(255, 85, 0);
            justify-content: center;
        }

        .contenido {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .contenido-texto {
                padding: 15px 0;
                width: 200px;
                font-size: 1.5em;
            }

            .contenido-boton {
                margin-bottom: 20px;
                padding: 10px;
                border: solid black 2px;

                &:hover {
                    background-color: black;
                    color: white;
                    transition: ease-in-out 0.3s;
                }
            }
        }

    }
}

.tabla-body {
    .boton-eliminar-producto {
        top: 89%;
        left: 50%;
        padding: 5px 10px;
        font-size: 1em;
    }
}

.footer {
    height: 200px;
    margin-top: 160px;
    background-color: rgb(255, 85, 0);

    .copy {
        color: white;
        font-weight: 700;
        font-size: 2em;
        display: flex;
        justify-content: center;
        padding-top: 60px;
        padding-left: 60px;
        padding-right: 60px;
    }
}