/* Home */



.main {

    height: 800px;

    .navbar {
        display: flex;
        position: absolute;
        top: 15%;
        left: 5%;
        gap: 20px;

        .menu {

            .menu-item {
                .fruta {
                    padding: 5px;
                    width: 100px;
                    transition: 0.3s ease-in-out;

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }

    .interactivo {
        display: flex;
        padding: 30px;
        margin-right: 60px;
        justify-content: flex-end;
        gap: 120px;

        .redes {
            img {
                width: 30px;
                margin: 0 20px;
            }
        }

        .compras {
            img {
                width: 40px;
            }
        }
    }

    div {
        button {
            position: absolute;
            left: 43%;
            top: 70%;
            padding: 10px;
            cursor: pointer;

            a {
                color: black;
                font-weight: 700;
            }
        }
    }

    .recomendado {
        button {
            position: absolute;
            left: 50%;
            top: 70%;
            padding: 10px;
            cursor: pointer;
            color: black;
            font-weight: 700;
        }
    }

    .btn-close{
        top: 3.5%;
        left: 85%;
        opacity: 6;
    }

    .btn-outline-success{
        top: 89%;
        left: 10%;
        padding: 15px;
        font-size: 1.6em;
    }

    .btn-outline-danger{
        top: 89%;
        left: 50%;
        padding: 15px;
        font-size: 1.6em;
    }
}

.section-container{
    padding-bottom: 150px;
}

.recomendado2{
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: rgb(127, 211, 0);
}

